$def with (form)
<form method='POST'>
  <p>
  <div><span class='table_cell_small'>$:form.ch.description</span> $:form.ch.render()</div>
  <div><span class='table_cell_small'>$:form.title.description</span> $:form.title.render()</div>
  <div><span class='table_cell_small'>$:form.subtitle.description</span> $:form.subtitle.render()</div>
  <div><span class='table_cell_small'>$:form.description.description</span> $:form.description.render()</div>
  </p>
  
  <input type='submit' value='Add'>
</form>
