$def with (recordings)

  <span class='table_head'>
    <span class='table_cell'>Time</span>
    <span class='table_cell_small'>Channel</span>
    <span class='table_cell_wide'>Title</span>
  </span><br>
$for recording in recordings:
  <span class='table_row' onclick="location.href='/rec/edit/$recording['rowid']'">
  <span class='table_cell'>$recording['program_start'][11:-3] - $recording['program_end'][11:-3]</span>
  <span class='table_cell_small'>$recording['channel_name']</span>
  <span class='table_cell_wide'>$recording['program_title']</span>
  </span><br>

