$def with (channels)
<p>
  <span class='table_head'>
    <span class='table_cell_small'>Name</span>
    <span class='table_cell_small'>Channel</span>
    <span class='table_cell_small'>VID</span>
    <span class='table_cell_small'>AID</span>
    <span class='table_cell_small'>SID</span>
    <span class='table_cell_small'>PID</span>
  </span><br>
$for channel in channels:
  <span class='table_row' onclick="location.href='/streams/edit/$channel['rowid']'">
  <span class='table_cell_small'>$channel['name']</span>
  <span class='table_cell_small'>$channel['mux']</span>
  <span class='table_cell_small'>$channel['video']</span>
  <span class='table_cell_small'>$channel['audio']</span>
  <span class='table_cell_small'>$channel['subtitles']</span>
  <span class='table_cell_small'>$channel['pid']</span>
  </span><br>
</p>
<p>
  <input type='button' value='Add stream' onclick="location.href='/streams/add'">
</p>
